<html>
    <head>
        <title>flurries - view</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/log.css') }}">
    </head>
    <body>
        <h1 class="wordmark">flurries</h1>
        <h2 class="header">log viewer</h2>
        <div class="log-container">
            {% for msg in logoutput %}
                <p class="log-message log-message-{{ msg.category }}"><b>{{ msg.category }}:</b> {{ msg.message }}</p>
            {% endfor %}
        </div>
    </body>
</html>