@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

html, body
{
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: #495464;
    margin: 0;
    padding: 0;
}

.header-content
{
    background-color: #f4f4f2;
    margin: 0;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-spacer
{
    display: block;
    height: 9vh;
}

.wordmark
{
    color: #7579e7;
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
}

.header
{
    display: inline-block;
    margin-left: 12px;
    font-size: 14pt;
    font-weight: lighter;
    padding-bottom: 1pt;
    color: #bbbfca;
}

.footer-content
{
    background-color: #f4f4f4;
    margin: 0;
    padding-left: 2vw;
    padding-top: .5vh;
    padding-bottom: .5vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.detail-text
{
    font-family: "Inconsolata", monospace;
    font-size: 8pt;
    color: #495464;
}

.hor-space
{
    display: inline-block;
    width: 32px;
}

.clickable
{
    text-decoration: underline;
    cursor: pointer;
}

.log-container
{
    font-family: "Montserrat", sans-serif;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.log-message
{
    padding: 8px;
    font-size: 12pt;
    border-bottom: solid 1px #e8e8e8;
}

.log-message-category
{
    font-weight: bold;
    margin-right: 48px;
    margin-left: 16px;
    font-family: "Inconsolata", monospace;
    color: #495464;
}

.circle
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 2vw;
}

.msg-cat-log
{
    background-color: #e8e8e8;
}

.msg-cat-warn
{
    background-color: #edc988;
}

.msg-cat-error
{
    background-color: #d7385e;
}

.msg-cat-highlight
{
    background-color: #7579e7;
}

.log-message-timestamp
{
    font-family: "Inconsolata", monospace;
    color: #e8e8e8;
    float: right;
}